$color-bg : #F7F9F9;
$color-text: #424949;
.app{
    display: flex;
    justify-content: center ;
     
    
    .container{
        width: 1050px;

        .link{
            text-decoration: none;
            color: inherit;
        }



        //LOGIN Y REGISTRO
        .auth{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #FDFEFE;
        }
        h1{
            font-size: 30px;
            color: #222222;
            margin-bottom: 20px;
        }
        form{
            display: flex;
            flex-direction: column;
            padding: 50px;
            background: #9b9b9b21;
            width: 250px;
            gap: 20px;

            input{
                padding: 10px;
                border: none;
                border-bottom: 1px solid gray;
                border-radius: 4px;
            }
            button{
                padding: 10px;
                border: none;
                background-color: #222222;
                border-radius: 5px;
                color: $color-bg;
                cursor: pointer;
            }
            p{
                font-size: 15px;
                color: crimson;
                text-align: center;
            }
            span{
                font-size: 15px;
                text-align: center;
            }
        }

        //NAVBAR
        
        .navbar{
            .container{
                padding: 10px 0px;
                display: flex;
                justify-content: space-between;
                .logo{
                    font-size: 2rem;
                    font-weight: 700;
                    
                }
                .links{
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    span{
                        cursor: pointer;
                    }
                    .write{
                        background-color: #424949;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        color: #F7F9F9;
                        padding: 5px;
                    }
                    box-icon{
                        fill: #ECF0F1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

        //FOOTER
        footer{
            width: 100%;
            background: #222222;
            .logo{
                font-size: 2rem;
                font-weight: 700; 
                color: #ECF0F1;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .grupo1{
                width: 100%;
                max-width: 1200px;
                margin: auto;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 50px;
                padding: 45px 0px;
            }
            .box1{
                display: flex;
                justify-content: center;
            }
            h2{
                color: var(--bgColor);
                margin-bottom: 25px;
                font-size: 20px;
                text-align: center;
                color: #ECF0F1;
            }
            p {
                color: #efefef;
                margin-bottom: 10px;
            }
            a{
                text-decoration: none;
                color:  var(--colorPrincipal);
                transition: 0.5s;
                border-bottom: 1px solid transparent; 
            }
            .grupo2{
                background: #424949;
                padding: 10px 10px;
                text-align: center;
                color: #efefef;
            }
            .icon-redes_{
                display: flex;
                justify-content: center;
            }
            box-icon {
                width: 35px;
                height: 35px;
                fill: #fff;
            }
        }
        //HOME
        .home{
            .posts{
                margin: 50px auto 50px auto;
                display: flex;
                flex-direction: column;
                gap: 150px;


                .post{
                    display: flex;
                    gap: 100px;

                    &:nth-child(2n + 1){
                        flex-direction: row-reverse;
                    }

                    .img{
                        flex: 2;
                        position: relative;

                        &::after{
                            content: "";
                            width: 100%;
                            height: 100%;
                            background-color: #424949;
                            position: absolute;
                            top: 20px;
                            left: -20px;
                            z-index: -1;
                        }

                        img{
                            width: 100%;
                            max-height: 500px;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    
                    .content{
                        flex: 3;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h1{
                            font-size: 30px;
                        }

                        p{
                          font-size: 18px;  
                        }

                        button{
                            width: max-content;
                            padding: 10px 20px;
                            margin-top: 20px;
                            border: none;
                            cursor: pointer;
                            background-color: #e5e7e7;
                            border: 1px solid #424949;
                            transition: 0.8s;

                            &:hover{
                                background-color: #fff;
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }
        }
        //SINGLE 

        .single{
            display: flex;
            gap: 50px;

            .content{
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 30px;

                img{
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }

                .user{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 14px;

                    img{
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                    
                    span{
                        font-weight: bold;
                    }
                }
                .edit{
                    display: flex;
                    gap: 5px;
                    
                    box-icon{
                        width: 20px;
                        height: 20px;
                        fill: #424949;
                        display: flex;
                        align-items: center;
                    }   
                }

                h1{
                    font-size:42px;
                    color: #424949;
                }
                p{
                    text-align: justify;
                    line-height: 30px;
                }
            }
            .menu{
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 25px;

                h1{
                    font-size: 20px;
                    color: #555;
                }
                .post{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
                img{
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }
                h2{
                    color: #555;
                }

                button{
                    width: max-content;
                    padding: 7.5px 15px;
                    margin-top: 20px;
                    border: none;
                    cursor: pointer;
                    background-color: #e5e7e7;
                    border: 1px solid #424949;
                    transition: 0.8s;

                    &:hover{
                        background-color: #fff;
                        border-radius: 10px;
                    }
                }
            }
        }
        //PUBLICACION / ESCRIBIR
        .newwrite{
            margin: 20px;
            display: flex;
            gap: 20px;

            .content{
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;

                input{
                    padding: 10px;
                    border: 1px solid lightgray;
                }

                .editorContainer{
                    height: 400px;
                    overflow: scroll;
                    border: 1px solid lightgray;

                    .editor{
                        height: 100%;
                        border: none;
                    }
                }
            }
            .menu{
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .item{
                    border: 1px solid lightgray;
                    padding: 10px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: 12px;
                    color: #424949;
                }

                h1{
                    font-size: 20px;
                }

                .file{
                    text-decoration: underline;
                    cursor: pointer;
                }
                .buttons{
                    display: flex;
                    justify-content: space-between;

                    :first-child{
                        cursor: pointer;
                        color: #555;
                        background-color: #e5e7e7;
                        border: 1px solid #555;
                        padding: 3px 5px;
                    }
                    :last-child{
                        cursor: pointer;
                        color: #e5e7e7;
                        background-color: #222222;
                        border: 1px solid #555;
                        padding: 3px 5px;
                    }
                }

                .cat{
                    display: flex;
                    align-items: center;
                    gap: 2px;
                    color: #424949;
                }
            }
        }
    }
}